@model IEnumerable<COMP003B.SP25.FinalProject.DomingosC.Models.BookingMechanic>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage who gets your vehicle.</h1>
<h2>Dont like one of our mechanics, GET A SPECIFIC ONE!</h2>

<p>
    <a asp-action="Create">Create New Entry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mechanic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mechanic.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { bookingId = item.BookingId, mechanicId = item.MechanicId }) |
                @Html.ActionLink("Details", "Details", new { bookingId = item.BookingId, mechanicId = item.MechanicId }) |
                @Html.ActionLink("Delete", "Delete", new { bookingId = item.BookingId, mechanicId = item.MechanicId })
            </td>
        </tr>
}
    </tbody>
</table>
<link rel="stylesheet" href="site.css">